#loading.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}
.loader_div {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}
.loadingtext {
    margin-top:5px;
    color:white;
}

th{font-weight: bold;}
.table{margin-bottom: 5px;font-size: 12px}

