<h3>{{Form.FormTitle}}</h3>

<div #ApplicantProfile>
  <div *ngFor="let section of Form.Sections;let secindex = index">
    <ng-container *ngIf="CheckedFieldCount(secindex) > 0">
      <h4>{{section.SectionName}}</h4>
      <table class="table table-striped table-bordered">

        <tr>
          <ng-container *ngFor="let field of section.Fields;let findex = index">
            <th *ngIf="field.isFieldChecked">
              {{field.FieldName}}
            </th>
          </ng-container>
        </tr>

        <tr *ngFor="let item of GetSectionCount(section.SectionID)|times; let count = index">
          <ng-container *ngFor="let field of section.Fields;let findex = index">
            <td *ngIf="field.isFieldChecked">
              {{GetFieldValue(section.SectionID,count, field.FieldID)}}
            </td>
          </ng-container>
        </tr>

      </table>

      <br>
    </ng-container>

  </div>
</div>

<select (change)="OnSelectTemplate($event)">
  <option selected>Form</option>
  <option *ngFor="let col of TemplateList;let j=index">{{col.TemplateTitle}}</option>
</select>
<button class="btn btn-primary" (click)="PrintToPdf()">Print</button>