
<ng-container *ngIf="!isFormsLoaded; else FormLoaded">
    <div id="loading" class="overlay">
        <div class="loader_div">
            <img src="loader.gif"/><br><br>
            <b class="loadingtext">Loading...</b>
        </div>
    </div>
</ng-container>
<ng-template #FormLoaded>
    <div class="row">
        <div class="col-xs-2">
          <h4>List of Forms</h4>
          <ul>
            <li *ngFor="let option of FormsList; let j=index"><a (click) ="OnSelectForm(j)">{{option.FormTitle}}</a></li>
          </ul>
          <a (click)="CreateNewForm()">+ New Form</a>
        </div>
    
        <div class="col-xs-6" *ngIf="isSelected" >
          <app-create-form [SelectedForm]="SelectedForm"  (FormSaved)="OnSaveForm($event)"></app-create-form>
        </div>
        
        <div class="col-xs-4" *ngIf="isSelected" >
          <app-preview-form [SelectedForm]="SelectedForm"></app-preview-form>
        </div>
    </div>
</ng-template>