<style type="text/css">
 label,ul{margin-top: 15px;}
 input,select{margin-bottom: 3px;}
</style>
<h3>Create Form</h3>
<label style="margin-top: 30px">
  Form Title :
</label>
<input class="form-control form-group" [(ngModel)]="SelectedForm.FormTitle" >
<label>
  Form Type :
</label>
<select class="form-control" id="type" name="type" [(ngModel)]="SelectedForm.FormType" (change)="OnSelectFormType($event)" required>
  <option *ngFor="let option of ApplicantType" [ngValue]="option._id" >{{option.type}}</option>
</select>
<br>
<div class="alert alert-danger" *ngIf="Error">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {{Error}}
</div>

<br>
<div *ngFor="let section of SelectedForm.Sections; let sectionindex = index"
style="border-bottom: 1px solid;">
    <label>Section Title</label>
    <input class="form-control"  [(ngModel)]="section.SectionName" [ngModelOptions]="{standalone: true}">
    <div *ngFor="let item of section.Fields; let fieldindex = index;">
        <div [ngSwitch]="item.FieldType">
          <label>{{item.FieldType}}</label>
          <!-----------------------For Radio Button------------------>
          <div *ngSwitchCase="'Radio'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}">
            <ul>
              <li *ngFor="let option of item.options; let optionindex = index" style="margin-bottom: 20px;display: flex;">
                <input class="form-control"  [value]="option" (change)="OnOptionChange(sectionindex,fieldindex,$event.target.value,optionindex)">
                <a style="margin-top: 1%;margin-left:1%" (click)="RemoveOption(sectionindex,fieldindex,optionindex)">X</a>
              </li>
            </ul>
            <a (click)="AddOption(sectionindex,fieldindex)">Add Options</a>
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!-----------------------End Radio Button------------------>
    
          <!-----------------------For Checkbox Button------------------>
          <div *ngSwitchCase="'Checkbox'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}">
            <ul>
              <li *ngFor="let option of item.options; let optionindex = index" style="margin-bottom: 20px;display: flex;">
                <input class="form-control"  [value]="option" (change)="OnOptionChange(sectionindex,fieldindex,$event.target.value,optionindex)">
                <a style="margin-top: 1%;margin-left:1%" (click)="RemoveOption(sectionindex, fieldindex,optionindex)">X</a>
              </li>
            </ul>
            <a (click)="AddOption(sectionindex,fieldindex)">Add Options</a>
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!-----------------------End Checkbox Button------------------>
    
          <!-----------------------For Dropbox Button------------------>
          <div *ngSwitchCase="'Dropdown'" class="dropdown form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
            <ul>
              <li *ngFor="let option of item.options; let optionindex = index" style="margin-bottom: 20px;display: flex;">
                <input class="form-control"  [value]="option" (change)="OnOptionChange(sectionindex,fieldindex,$event.target.value,optionindex)">
                <a style="margin-top:1%;margin-left:1%" (click)="RemoveOption(sectionindex,fieldindex,optionindex)">X</a>
              </li>
            </ul>
            <a (click)="AddOption(sectionindex,fieldindex)">Add Options</a>
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!----------------------End Dropbox Button------------------>
    
          <!-----------------------For Textbox Button------------------>
          <div *ngSwitchCase="'Textbox'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}">
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
    
          <!----------------------End Textbox Button------------------>
    
          <!-----------------------For TextArea Button------------------>
          <div *ngSwitchCase="'Textarea'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [value]="item.FieldName" [ngModelOptions]="{standalone: true}">
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!----------------------End TextArea Button------------------>

          <!-----------------------For Calendar Button------------------>
          <div *ngSwitchCase="'Calendar'" class="form-group">
              <input class="form-control"  [(ngModel)]="item.FieldName" [value]="item.FieldName" [ngModelOptions]="{standalone: true}">
              <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
            </div>
            <!----------------------End Calendar Button------------------>

          <!-----------------------For Country List------------------>
          <div *ngSwitchCase="'Country'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
            <br>
            <small><em>*Take options from {{item.Table}} Library.</em></small>
          </div>
          <!----------------------End Country List------------------>

          <!-----------------------For State List------------------>
          <div *ngSwitchCase="'State'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
            <select class="form-control" (change)="AddParentField(sectionindex,fieldindex,$event.target.value)">
              <option selected disabled>Choose one</option>
            <option *ngFor="let x of item.ParentField.FieldList;" [value]="x|json">{{GetFieldName(x.SectionID,x.FieldID)}}</option>
          </select>
          <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!----------------------End State List------------------>

          <!-----------------------For city List------------------>
          <div *ngSwitchCase="'City'" class="form-group">
              <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
              <select class="form-control" (change)="AddParentField(sectionindex,fieldindex,$event.target.value)">
                <option selected disabled>Choose one</option>
              <option *ngFor="let x of item.ParentField.FieldList" [value]="x|json">{{GetFieldName(x.SectionID,x.FieldID)}}</option>
            </select>
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
            </div>
            <!----------------------End city List------------------>

           <!-----------------------For CompanyType List------------------>
           <div *ngSwitchCase="'Type'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
            <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
            <br>
            <small><em>*Take options from {{item.Table}} Library.</em></small>
          </div>
          <!----------------------End CompanyType List------------------>

          <!-----------------------For Installation Type List------------------>
          <div *ngSwitchCase="'InstallationType'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
            <select class="form-control" (change)="AddParentField(sectionindex,fieldindex,$event.target.value)">
              <option selected disabled>Choose one</option>
            <option *ngFor="let x of item.ParentField.FieldList" [value]="x|json">{{GetFieldName(x.SectionID,x.FieldID)}}</option>
          </select>
          <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!----------------------End Installation Type List------------------>

          <!-----------------------For Designation List------------------>
          <div *ngSwitchCase="'Designation'" class="form-group">
            <input class="form-control"  [(ngModel)]="item.FieldName" [ngModelOptions]="{standalone: true}" />
            <select class="form-control"  (change)="AddParentField(sectionindex,fieldindex,$event.target.value)">
              <option selected disabled>Choose one</option>
            <option *ngFor="let x of item.ParentField.FieldList" [value]="x|json">{{GetFieldName(x.SectionID,x.FieldID)}}</option>
          </select>
          <a (click)="RemoveField(sectionindex,fieldindex)">Remove Field</a>
          </div>
          <!----------------------End Designation List------------------>
        </div>
      </div>
      <br>
      <table class="table-bordered table-condensed table-striped" style="width:80%;border: 1px solid #333;box-shadow: 2px 2px 4px #888;">
        <tr>
          <td colspan="2" style="font-weight: 600;padding-left: 20px">
            Field Manager
        </td></tr>
          <tr>
            <td style="padding-left: 20px">Control Type</td>
            <!-- <td>Option Count</td> -->
            <td></td>
          </tr>
          <tr *ngFor="let control of controls">
            <td style="padding-left: 20px">{{control.Type}}</td>
            <!-- <td *ngIf="!control.isMultipleOption"></td>
            <td *ngIf="control.isMultipleOption">
              <input class="form-control"  type="text" [(ngModel)]="control.optionCount">
            </td> -->

            <td style="padding-left: 20px;">
              <a (click)="AddField(sectionindex,control)">Add</a>
            </td>
          </tr>
        </table>
        <a (click)="RemoveSection(sectionindex)" style="line-height: 3">Remove Section</a>
        <br>
        <input class=""  type="checkbox" [(ngModel)]="section.CanBeMultiple">Can be added Multiple Times.
        <hr>
</div>
<div  style="margin-top: 20px">
<a (click)="AddSection()">Add Section</a>
<button class="btn btn-primary pull-right" *ngIf="TotalSections>0" (click)="OnSave()" type="submit">Save</button>
</div>
<br>

<div class="panel panel-danger" style="margin:10px" *ngIf="FormSuccessMessage == -1">
    <div class="panel-body">Form couldn\'t be saved.</div>
</div>

<div class="panel panel-success"  style="margin:10px"  *ngIf="FormSuccessMessage == 1">
    <div class="panel-body alert alert-success">Form saved Sucessfully.</div>
</div>