<ng-container *ngIf="(TemplatesLoaded && FormLoaded); else Loading">
    <div class="col-md-1">
      <nav class="side-nav-custom">
        <ul>
          <li *ngFor="let item of TemplatesList;let j=index">
            <a (click)="OnEditTemplate(j)" style="color: #fff">{{item.TemplateTitle}}</a>
          </li>
        </ul>
        <a (click)="OnCreateTemplate()" style="color: #fff">+ New Template</a>
      </nav>
      </div>
      <ng-container *ngIf="createMode">
          <div class="col-md-6" style="margin-top: 20px">
              <select id="type" name="type" [(ngModel)]="SelectedForm.FormType" (change)="OnSelectForm($event)">
                <option selected disabled>Select Form</option>
                <option *ngFor="let option of FormsList;let j=index">
                  {{option.FormTitle}}
                </option>
              </select>
              <label>
                Template Title:
              </label>
              <input type="text" [(ngModel)]="TemplateTitle">
              <div *ngFor="let section of SelectedForm.Sections; let secindex= index">
                {{section.SectionName}}
                <br>
                <ng-container *ngFor="let field of section.Fields;let fieldindex=index">
                  <input type="checkbox" [checked]="field.isFieldChecked" (change)="ToggleFieldSelection(secindex,fieldindex)">
                  <label>{{field.FieldName}}</label>
                  <br>
                </ng-container>
                <hr>
              </div>
              <button class="btn btn-primary" (click)="OnSaveTemplate()" *ngIf="TotalFieldsChecked>0">Save Template</button>
              <br>
              <div class="panel panel-danger" style="margin:10px" *ngIf="TemplateSaved == -1">
                <div class="panel-body">Template couldn\'t be saved.</div>
              </div>
            
              <div class="panel panel-success" style="margin:10px" *ngIf="TemplateSaved == 1">
                <div class="panel-body">Template saved Sucessfully.</div>
              </div>
            </div>
            
            <div class="col-md-4" style="background-color: #f0f0f0">
              <h3>{{TemplateTitle}}</h3>
              <div *ngFor="let section of SelectedForm.Sections;let secindex= index">
                <ng-container *ngIf="CheckedFieldCount(secindex) > 0">
                  <h4>
                    {{section.SectionName}}
                  </h4>
                  <br>
                </ng-container>
                <ng-container *ngFor="let field of section.Fields;let fieldindex=index">
                  <label *ngIf="field.isFieldChecked">{{field.FieldName}}</label>
                  <br>
                </ng-container>
                <hr>
              </div>
            </div>
      </ng-container>      
</ng-container>
<ng-template #Loading>
  <div id="loading" class="overlay">
    <div class="loader_div">
        <img src="loader.gif"/><br><br>
        <b class="loadingtext">Loading...</b>
    </div>
</div>
</ng-template>
