
  <div class="dropdown" dropdown [dropdownToggle]="false">
  <button class="btn btn-default" dropdown-open>Controls list</button>
  <div class="dropdown-menu" dropdown-not-closable-zone>
    <table class="table-bordered table-condensed table-striped">
      <tr *ngFor="let control of controls">
        <td>{{control.type}}</td>
        <td *ngIf="!control.isMultiField"></td>
        <td *ngIf="control.isMultiField">
          <input type="text" [(ngModel)]="control.optionCount">
        </td>
        <td>
          <a (click)="AddControl(control)">Add</a>
        </td>
      </tr>
    </table>
  </div>
</div>
<form (ngSubmit)="onSave()" *ngIf="ProfileFormControlCount >0" [formGroup]="ProfileForm">
    <div formArrayName="customcontrols" *ngFor="let item of ProfileForm.get('customcontrols').controls; let i = index;">
       <div [ngSwitch]="FormLabelList[i].type">
        <!-----------------------For Radio Button------------------>
        <div *ngSwitchCase="'radio'" class="form-group">
            <input [(ngModel)]="FormLabelList[i].label" [value]="FormLabelList[i].label" [ngModelOptions]="{standalone: true}">

            <div *ngFor="let option of FormLabelList[i].options; let j = index">
                <label class="radio-inline" [for]="i"><input [value]="option" (change)="OnOptionChange(i,$event.target.value,j)"></label>
                <input type="radio" [formControlName]="i" [value]="option">
            </div>
        </div>
        
        <!-----------------------End Radio Button------------------>
        <!-----------------------For Checkbox Button------------------>
        <div *ngSwitchCase="'checkbox'" [formArrayName]="i" class="form-group">
            <input [(ngModel)]="FormLabelList[i].label" [value]="FormLabelList[i].label" [ngModelOptions]="{standalone: true}">

            <div *ngFor="let option of FormLabelList[i].options; let j = index" class="checkbox">
                <label contenteditable>{{option}}</label>
                  <input type="checkbox" [formControlName]="j">
            </div>
          </div>
          <!-----------------------End Checkbox Button------------------>
        <!-----------------------For Textbox Button------------------>
        <div *ngSwitchCase="'textbox'" class="form-group">
          <input [(ngModel)]="FormLabelList[i].label" [value]="FormLabelList[i].label" [ngModelOptions]="{standalone: true}">
            <input type="text" [formControlName]="i">
        </div>
        
        <!----------------------End Textbox Button------------------>
        <!-----------------------For Paragraph Button------------------>
        <div *ngSwitchCase="'textarea'" class="form-group">
            <input [(ngModel)]="FormLabelList[i].label" [value]="FormLabelList[i].label" [ngModelOptions]="{standalone: true}">
          <textarea [formControlName]="i"></textarea>
        </div>
        <!----------------------End Paragraph Button------------------>
        <!-----------------------For Dropbox Button------------------>
        <div *ngSwitchCase="'dropdown'" class="form-group">
            <input [(ngModel)]="FormLabelList[i].label" [value]="FormLabelList[i].label" [ngModelOptions]="{standalone: true}">
            <select [formControlName]="i">
              <option *ngFor="let option of FormLabelList[i].options">{{option}}</option>
            </select>
          </div>
          <!----------------------End Dropbox Button------------------>
          <!-- <div class="dropdown"><tr>
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{FormLabelList[i].label}}
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li (click)="AddControl(control)" >HTML</li>
                        </ul>
                      </tr></div> -->
        
        
        
        
      </div>
    </div>
  <br>
  <button [disabled]="!ProfileForm.valid" class="btn btn-primary" type="submit">Save</button>
</form>
    
     